body, html {
    height: 100%;
}

* {
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.adv-color {
    background-color: #4D5800;
}

.yellow-dark {
    color: #BC9B00 !important;
}

.category-items {
    row-gap: 20px;
}

.filter-button {
    border: 2px solid #FF5524;
    border-radius: 50px;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 8px;

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height, or 133% */

    text-align: center;

    /* dark */

    color: #1F2400;
}

.category-header {
    font-weight: 400;
    font-size: 48px;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(./../img/banner1.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 70%;
    display: block;
}

.hero-plus {
    width: 100%;
    height: auto;
}

.main-page {
    list-style: none;
}

.transparentbg {
    filter: brightness(50%);
}

.cartbtn {
    border: 1px solid;
    background-color: white;
    border-color: #FF5524;
    height: 45px;
    width: 65px;
}

.product-card {
    width: 100%;
}
.category-card {
    height: 310px;
}
.product-card__img-inner {
    width: 100%;
}

.section-excursion__description {
    letter-spacing: 0.5px;
}

.section-cooperation__details {
    letter-spacing: 0.5px;
}
.section-footer__dark {
    background-color: #1F2400;
}

.section-footer__dark-navbar {
    border-bottom: 2px solid;
    border-color: #BC9B00;
}

.section-footer__dark-info {
    background-color: #1F2400;
    letter-spacing: 0.5px;
}
