body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
}
.adv-color {
    background-color: #4D5800;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(./../img/banner1.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 70%;
    display: block;
}

.hero-plus {
    width: 100%;
    height: auto;
}

.main-page {
   list-style: none; 
}

.transparentbg {
  filter: brightness(50%);  
}

.cartbtn {
    border: 1px solid;
    background-color: white;
    border-color: #FF5524;
    height: 45px;
    width: 65px;
}
